/*************cart page changes****************/

.customCartPage__sidebar .cart-dropdown {
    background-color: #F9F9F9;
    border: 1px solid #e9e9e9;
}
.customCartPage__sidebar .cart-dropdown__wrapper .cart__summary {
    background-color: transparent;
    padding: 0;
}
body .customCartPage__sidebar .cart-dropdown__wrapper .cart-preview {
    margin: 0;
    padding: 0 16px;
}
.customCartPage__sidebar .cart-dropdown__wrapper .cart__summary .cart__summary--item {
    margin: 0;
    padding: 0 16px;
}
.customCartPage__sidebar .cart-dropdown__wrapper {
    padding: 0;
}
.customCartPage__sidebar .cart-dropdown__wrapper .cart__summary--price {
    border-top: none;
    padding: 0 16px;
    margin: 6px 0;
}
.cart-dropdown__wrapper .cart__summary--price p {
    font-size: 20px;
    font-weight: 600;
}
.cart-dropdown__wrapper .cart__summary--coupons input {
    //border: 1px solid #e9e9e9;
    background: transparent !important;
    border-left: none;
    border-right: none;
    font-weight: normal !important;
    color: #666;
}
.cart-dropdown__wrapper .cart__summary--coupons button {
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: underline;
}
.customCartPage__sidebar .cart__summary--desc.no-print {
    padding: 0 16px;
}
.cart-dropdown__wrapper .cart__summary--desc ul li {
    color: #000;
    position: relative;
    padding-left: 25px;
    margin: 14px 0;
}
.cart-dropdown__wrapper .cart__summary--desc ul li svg path {
    stroke: #000;
}
.cart-dropdown__wrapper .cart__summary .button__muunel {
    margin: 16px;
    max-width: calc(100% - 32px);
    background: #000;
}
.customCartPage__sidebar .cart-dropdown__wrapper .cart__summary ul.avaliable_payments {
    padding: 0 16px;
}
.checkout-timeline h2.cart-count {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
}
.customCartPage__sidebar {
    position: sticky;
    top: 80px;
}
.woocommerce-cart .previous {
    position: relative;
    top: 0;
    margin-bottom: 15px !important;
    display: inline-block;
    opacity: .6;
}
.woocommerce-cart .previous:hover {
    opacity: 1;
}
.woocommerce-cart .checkout-timeline {
    position: relative;
    margin-bottom: 0;
}
.staudent-offer {
    background: rgb(147 228 222 / 50%);
    border: 1px solid #93E4DE;
    padding: 15px 18px;
    color: rgb(0 0 0 / 50%);
    margin-bottom: 15px;
    border-radius: 5px;
}
.staudent-offer p {
    font-size: 18px;
    margin: 0;
}
.woocommerce-cart .single-product-box .product-info .lens-info .bolder.clickable:after {
    top: 1px;
    width: 12px;
    height: 12px;
    right: -22px;
}
.woocommerce-cart .single-product-box .product-info .lens-info .bolder.clickable.active:after {
    top: 7px;
}
.woocommerce-cart .single-product-box .product-info {
    padding: 15px;
}
p.estimated-delivery-cart {
    margin: 0;
    font-size: 16px;
    color: rgba(0,0,0,.5);
}
.woocommerce-cart .single-product-box .product-info .product-title h4 {
    margin-bottom: 15px;
}
.color-main {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: rgb(0 0 0 / 50%);
}
.woocommerce-cart .single-product-box .product-info .product-title a p, .woocommerce-cart .single-product-box .product-info .product-title a {
    font-weight: 600;
    color: #000;
    font-size: 16px;
    margin: 0;
    text-transform: capitalize;
}
.woocommerce-cart .single-product-box .product-info .product-title a{
    margin-left: 10px;
}
.woocommerce-cart .single-product-box .product-info .lens-info p{
    font-size: 16px;
}
.woocommerce-cart .single-product-box .product-info .lens-info, 
.woocommerce-cart .single-product-box .product-info .lens-price {
    margin-bottom: auto;
}
.woocommerce-cart .single-product-box .product-control .product-quantity .quantity .qty_button {
    background-position: center;
}
.customCartPage {
    margin-bottom: 50px;
}
.woocommerce-cart .additional-cart-box .cute-1 {
    right: 85px;
}
.woocommerce-cart .additional-cart-box .cute-2 {
    bottom: -55px;
    top: inherit;
    right: 100px;
}
.estimated-delivery-date {
    font-size: 18px;
    border: 1px solid #e9e9e9;
    background: url(/wp-content/uploads/2021/10/delivery_icon.svg);
    border-left: none;
    border-right: none;
    padding: 20px 16px 20px 58px;
    background-repeat: no-repeat;
    background-position: 17px 19px;
    background-size: 30px;
}
p.securely {
    font-size: 16px;
    color: rgb(0 0 0 / 50%);
    border-bottom: 1px solid #e9e9e9;
    background: url(/wp-content/uploads/2021/10/shield.svg);
    padding: 12px 16px 20px 51px;
    background-repeat: no-repeat;
    background-position: 17px 10px;
}
.cart-dropdown__wrapper .cart__summary--item .mini-cart-value, .cart-dropdown__wrapper .cart__summary--price .mini-cart-value {
    font-weight: normal;
}
span.free-ship {
    padding-left: 24px;
    color: #7EBD6A;
    background: url(/wp-content/uploads/2021/11/free-ship.svg) no-repeat;
    background-position: left center;
}
.woocommerce-cart .single-product-box .product-thumbnail {
    padding: 15px 0 15px 15px;
    max-height: 190px;
}
.woocommerce-cart .single-product-box .product-control {
    padding: 15px;
    margin: 10px 0;
}
.promo-main {
    background: #fff;
    border: 8px solid #f9f9f9;
}
.promo p, p.set, .giftwrap_header_wrapper {
    margin: 0;
}
.promo p.set{
    margin: 0;
    padding: 19px 0;
    cursor: pointer;
}
.promo {
    border-bottom: 1px solid #f9f9f9;
    position: relative;
    padding: 0 16px;
    
}   
.promo-main i.fa {
    position: absolute;
    right: 0;
    top: 0;
}
.promo-main i.fa {
    position: absolute;
    right: 20px;
    top: 22px;
    color: rgb(0 0 0 / 50%);
	    pointer-events: none;
}
.promo-main p.set.active + i:before {
    content: "\f068";
}
.cart-dropdown__wrapper .cart__summary--coupons {
    background: #F2F2F2;
    margin: 0 0 15px;
}
.woocommerce button#cart_giftwrap_submit {
    background: transparent !important;
    color: #000 !important;
    font-size: 14px !important;
    font-weight: normal !important;
    border: none !important;
    padding: 7px 0 !important;
    height: auto !important;
    text-align: right;
    width: 100%;
}
.wc_giftwrap_notes_container textarea {
    box-sizing: border-box;
    width: 100%;
    background: #F2F2F2;
    border: none;
    font-weight: normal !important;
    min-height: 85px;
}
.woocommerce-cart .woocommerce-cart-form .product-info .product-title a{
    margin: 0;
}
.cart-sidebar .faq {
    padding: 16px;
}
.faq h3 {
    font-size: 20px;
    margin: 3px 0 6px;
    display: inline-block;
}
.faq .ewd-ufaq-faqs a h4 {
    font-size: 14px;
    font-weight: normal;
    margin: 0 !important;
}
.faq .ewd-ufaq-faqs a span {
    font-size: 14px !important;
}
.faq div.ewd-ufaq-faq-title div.ewd-ufaq-post-margin-symbol {
    margin-right: 8px;
}
.faq .ewd-ufaq-faq-body {
    padding-left: 25px;
}
.faq .ewd-ufaq-faq-categories {
    margin-bottom: 4px;
}
.faq .ewd-ufaq-faq-div {
    margin: 10px 0;
}
/*************CHECKOUT page changes**************/

.sigin-checkout {
    border: 1px solid #93E4DE;
    padding: 15px;
    border-radius: 4px;
}
.sigin-checkout h3 {
    margin: 0;
    font-size: 18px;
}
.sigin-checkout p {
    margin: 0;
    font-size: 12px;
    color: rgb(0 0 0 / 50%);
}
.sigin-checkout h3 {
    margin: 0 0 11px;
    font-size: 18px;
}
span.sign-in-login {
    text-decoration: underline;
}
.timeline-content form fieldset {
    padding: 0;
    border: none;
}
.timeline-content form fieldset .previous {
    left: 3px;
    background-position: left center;
    line-height: .6;
    background-size: 22px;
    box-shadow: none;
    padding-left: 20px;
}
.woocommerce .checkout-form form p.form-row {
    width: 50% !important;
    padding: 0 10px;
    margin-bottom: 35px !important;
    clear: none;
    float: left !important;
    position: relative;
}
.woocommerce-billing-fields__field-wrapper {
    margin: 0 -10px;
}
.woocommerce .checkout-form form p.form-row input, .woocommerce .select2-container--default .select2-selection--single, 
.woocommerce .checkout-form .form-row select, p#shipping_country_field span.woocommerce-input-wrapper{
    border: 1px solid #E9E9E9;
    box-shadow: none;
    padding: 15px 20px !important;
    height: auto;
    border-radius: 5px;
    line-height: 1.6!important;
    height: 64px;
    font-size: 18px !important;
    font-weight: 500 !important;
    display: block;
    width: 100%;
}
.woocommerce .checkout-form  form .form-row textarea {
    height: 4em;
    line-height: 1.5;
    display: block;
    box-shadow: none;
    border-radius: 4px;
    min-height: 100px;
    padding: 20px 16px!important;
}
.woocommerce .checkout-form form p.form-row.woocommerce-validated input, .woocommerce .woocommerce-validated .select2-selection--single{
    border-color: #6dc22e !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 64px;
}
.select2-dropdown {
    border-color: #e9e9e9;
}
.checkoutContainer {
    margin-bottom: 50px;
}
#customer_details .woocommerce-invalid-required-field::after, #customer_details .woocommerce-invalid-phone::after, 
#customer_details .form-row.woocommerce-validated::after {
/*     content: "" !important; */
    position: absolute;
/*     right: 30px;
    top: 50%;
    margin-top: -3px;
    width: 7px;
    height: 7px;
    background: #FF4242;
    border-radius: 50%; */
}
.woocommerce form .form-row.woocommerce-invalid .select2-container, .woocommerce form .form-row.woocommerce-invalid input.input-text, 
.woocommerce form .form-row.woocommerce-invalid select {
    border-color: #ff4242;
}
#customer_details .form-row.woocommerce-validated::after{
    background: #6dc22e;
}

.timeline-content form label.label_act {
    color: rgb(0 0 0 / 50%) !important;
    font-size: 18px !important;
    position: absolute;
    top: 23px;
    margin: 0;
    left: 20px;
    background: #fff;
    padding: 0 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    pointer-events: none;
    z-index: 1;
}
.timeline-content form .field_value label.label_act, .timeline-content form .label_act.bluebg, 
.timeline-content form label.label_act[for="billing_state"], .timeline-content form label.label_act[for="billing_country"], 
.timeline-content form label.label_act[for="shipping_state"], .timeline-content form label.label_act[for="order_comments"]{
    font-size: 14px !important;
    top: -9px;
}

.timeline-content form fieldset .next {
    background-color: #000;
}
.checkout-timeline {
    margin-bottom: 30px;
}
.checkout-timeline .checkout-timeline-wrapper {
    width: auto;
    margin: 0 -6px;
    padding-top: 55px;
}
.checkout-timeline .checkout-timeline-wrapper .single-tab-step, .checkout-timeline .checkout-timeline-wrapper .step {
    width: 33.33%;
    padding: 0 6px;
}
.checkout-timeline .checkout-timeline-wrapper .single-tab-step .title-box, .checkout-timeline .checkout-timeline-wrapper .step .title-box {
    background: #fff;
    border-radius: 0;
    width: 100%;
    border: 1px solid rgba(65, 68, 111, 0.2);
    border-top: 2px solid rgba(65, 68, 111, 0.2);
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    margin: 0;
}
.checkout-timeline .checkout-timeline-wrapper .single-tab-step .title-box p, .checkout-timeline .checkout-timeline-wrapper .step .title-box p {
    margin: 0 !important;
    font-size: 18px;
    font-weight: bold;
    color: rgba(65, 68, 111, 0.2);
    display: flex;
    align-items: center;
}
.checkout-timeline .checkout-timeline-wrapper .single-tab-step .title-box span.checkout_numbering, .checkout-timeline .checkout-timeline-wrapper .step .title-box span.checkout_numbering {
    background: rgba(65, 68, 111, 0.2);
    width: 30px;
    height: 30px;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    margin-right: 8px;
    font-size: 18px;
    font-weight: bold;
}
.checkout-timeline .checkout-timeline-wrapper .done .title-box , .checkout-timeline .checkout-timeline-wrapper .done .title-box {
    border-color: rgba(147, 228, 222, 0.4);
    border-top-color: #000;
    background: rgba(147, 228, 222, 0.4);
}
.checkout-timeline .checkout-timeline-wrapper .done .title-box span.checkout_numbering, .checkout-timeline .checkout-timeline-wrapper .done .title-box span.checkout_numbering {
    background: #fff;
    color: #000;
}
.checkout-timeline .checkout-timeline-wrapper .done .title-box p, .checkout-timeline .checkout-timeline-wrapper .done .title-box p {
    color: #000;
}
.customCartPage__sidebar .cart-count-item {
    border-top: 1px solid #e9e9e9;
    padding: 20px 16px 0;
}
.customCartPage__sidebar .cart-count-item h2.cart-count {
    font-size: 24px;
    margin: 0;
}
.checkoutContainer .estimated-delivery-date {
    border: none;
    padding: 9px 16px 16px;
    background: no-repeat;
    font-size: 16px;
}
.checkout-timeline .checkout-timeline-wrapper .completed .title-box {
    border: 1px solid rgba(65, 68, 111, 0.2);
    border-top: 2px solid rgba(65, 68, 111, 0.2);
    background: #fff;
}
.checkout-timeline .checkout-timeline-wrapper .completed .title-box span.checkout_numbering {
    background: #000;
    color: #000;
    position: relative;
    font-size: 0;
}
.checkout-timeline .checkout-timeline-wrapper .completed .title-box span.checkout_numbering:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    top: 43%;
    -webkit-transform: translate(-50%,-50%) rotate(-45deg);
    transform: translate(-50%,-50%) rotate(-45deg);
    width: 13px;
    height: 7px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    background-color: transparent;
    -webkit-transition: background-color .2s ease;
    transition: background-color .2s ease;
}
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
    background: #000000;
}
.customCheckoutPage__shipping .form-row.place-order {
    padding: 20px 0 !important;
}
.customCheckoutPage__shipping ul.wc_payment_methods.payment_methods.methods {
    padding: 10px 0 !important;
}




.checkoutContainer .customCartPage__sidebar .cart-dropdown__wrapper .cart-preview {
    padding: 0;
}
.checkoutContainer .cart-dropdown__wrapper .cart-preview h3 {
    padding: 0 16px;
}

.customCartPage__sidebar .cart-dropdown__wrapper .cart__summary .helpdesk{
    border-left: none;
    border-right: none;
}
.customCartPage__sidebar .cart-dropdown__wrapper .cart-preview__products--single {
    padding-left: 15px;
    background: transparent;
    padding-right: 15px;
}
h2#checkout-heading {
    display: none;
}
.woocommerce-billing {
    border: 1px solid #e9e9e9;
    padding: 20px 23px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.8;
}
.subscriber {
    margin: 17px 0 25px;
    float: left;
    width: 100%;
}
.woocommerce .checkout-form .subscriber p.form-row.form-row-first {
    margin-bottom: 0 !important;
    padding: 0;
    max-width: 400px;
}
span.email-note {
    float: left;
    width: 100%;
    font-size: 12px;
    margin: 6px 0;
    color: rgb(0 0 0 / 50%);
}
.email-chek {
    float: left;
    width: 100%;
    margin: 15px 0 20px;
    max-width: 370px;
}
.email-chek input#my_field_name {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    min-width: 20px;
    position: relative;
    top: 13px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 1px solid #99b09b;
    margin-right: 10px;
    cursor: pointer;
}

.email-chek input#my_field_name:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%,-50%) rotate(-45deg);
    transform: translate(-50%,-50%) rotate(-45deg);
    width: 12px;
    height: 7px;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    -webkit-transition: background-color .2s ease;
    transition: background-color .2s ease;
}
.email-chek input#my_field_name:checked:before {
    border-left-color: #000;
    border-bottom-color: #000;
}

.new-date {
    float: left;
    width: 100%;
}
.email-chek span {
    font: 500 18px Montserrat,sans-serif;
}
.email-chek label {
    display: flex;
}
.subscriber .date {
    float: left;
    width: auto;
    border: 1px solid #E9E9E9;
    display: block;
    padding: 6px 10px;
    width: 100%;
    max-width: 400px;
    border-radius: 4px;
}
.subscriber .date select {
    border: none;
    font-size: 18px !important;
    font-weight: 500 !important;
    margin-right: 10px;
    cursor: pointer;
    padding: 0 6px !important;
	  min-width: 80px;
}
.new-date span.email-note {
    color: rgb(0 0 0 / 50%) !important;
    font-size: 14px;
    background: #fff;
    padding: 0 10px;
    position: relative;
    top: 10px;
    margin: 0;
    display: block;
    width: max-content;
    float: none;
    left: 10px;
}
.timeline-content .subscriber label.label_act {
    left: 10px;
}
.checkout-timeline-wrapper .circle {
    display: none;
}
.wp-block-preformatted {
    white-space: pre-wrap;
    font-family: Montserrat,sans-serif !important;
    margin: 0;
    font-size: 13px;
    line-height: 1.4;
}
.checkoutContainer--process ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 0;
}
.checkoutContainer--process ::-moz-placeholder { /* Firefox 19+ */
  font-size: 0;
}
.checkoutContainer--process :-ms-input-placeholder { /* IE 10+ */
  font-size: 0;
}
.checkoutContainer--process :-moz-placeholder { /* Firefox 18- */
  font-size: 0;
}
li span.price bdi {
    margin-right: 4px;
}

ul.products span.sale-price1.percentage-dis {
    display: none;
}
.customProductPage__gallery span.badge.new-badge {
    display: none;
}
.cart-dropdown__wrapper .cart__summary--coupons span + span {
    display: none;
}










/***************************************MEDAI QUERY*************************************/
@media(min-width:  1081px){
    .header__content--shopButtons {order: 3;}
    .header__content--logo {
        position: relative;
        left: 0;
        -webkit-transform: none;
        transform: none;
        order: 1;
    }
    .header__content nav {
        order: 2;
        margin-left: 15px;
    }
    .banner_content {
        bottom: -25px;
        width: 100%;
        max-width: 1440px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        padding: 20px 40px;
    }
    .banner_content:before {
        display: none;
    }
    .pc_icon img {
        max-width: 100%;
    }
    .pc_icon {
        max-width: 180px;
    }
    .pc_heading {
        text-align: center;
    }
    .icon-arrow {
        bottom: 100px;
    }
    .archive.woocommerce ul.products .counter_cat img, .archive.woocommerce-page ul.products .counter_cat img {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .archive.woocommerce ul.products .counter_cat, .archive.woocommerce-page ul.products .counter_cat {
        padding-bottom: 41%;
    }
}

@media(max-width: 1280px){
	    .category-right {
        background-size: 70px, 90px;
        padding: 25px 25px 150px;
        background-position: 25px 95%, right bottom;
    }
}

@media(max-width: 1199px){
    div#sample_slider {
        padding: 30px 15px;
    }
    body .sa_owl_theme .owl-dots {bottom: 0 !important;}
    picture.new-im img {
        max-width: 90px !important;
        margin-bottom: 8px;
        max-height: 22px;
        width: auto !important;
    }
    .video-div {padding-top: 100%;}
    body .customArchiveProduct__loopWrapper--item:hover .price .variable_add_to_cart {
        margin-left: 0;
        padding-left: 0;
        width: auto;
        border-left-width: 0;
    }
    body .customArchiveProduct__loopWrapper--item .price {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .banner_content {
        bottom: 20px;
        left: 20px;
        padding: 30px;
        width: 350px;
        transform: none;
        display: block; 
        text-align: left;
    }
    .pc_heading {
        text-align: left;
    }
    .banner_content:before {
        content: "";
        display: block;
    }
    .pc_icon img {max-width: 190px;}
    .banner_content h2 {font-size: 30px;}
    .blockBannerHomepage__content {min-height: 500px;}
    .single-product .custom_block_outer .wp-block-column {width: 100%;}
    body #secondaryslider-list .splide__slide {
        width: calc(20% - 8px) !important;
    }

    span.cat-desc {
        font-size: 14px;
        line-height: 1.45;
    }


}

@media(max-width: 991px){
    .single-product .customProductPage__gallery {
        width: 100%;
        margin-bottom: 30px;
    }
    .single-product .customProductPage__summary {
        width: 100%;
        padding-left: 0;
        margin-top: 30px;
    }
    .customProductPage__summaryWrapper--shareButton {
        top: 60px;
    }
    .woocommerce-variation-price span.sale-price {
        font-size: 20px;
    }
    body #secondaryslider-list .splide__slide {
        width: calc(20% - 8px) !important;
    }
    .category-banner {
        flex-wrap: wrap;
    }
    .category-left {
        width: 100%;
    }
    .category-right {
        background-size: 70px, 80px;
        padding: 25px 25px 150px;
        background-position: 25px bottom, right bottom;
        width: 100%;
    }
    .archive.woocommerce ul.products li.product, .archive.woocommerce-page ul.products li.product {
        width: calc(50% - 10px);
    }
    .archive.woocommerce ul.products .counter_cat, .archive.woocommerce-page ul.products .counter_cat {
        width: 100%;
    }
}


@media(max-width: 767px){
    .custom_block_outer p {font-size: 15px;}
    div#secondaryslider {
        display: block;
        padding: 0 !important;
    }
    section.section.customProductPage__headerWrapper.alignfull {
        width: calc(100vw - 33px);
        margin-top: 15px;
        position: relative;
    }
    body #secondaryslider-list .splide__slide {
        height: 70px !important;
        width: calc(25% - 8px) !important;
    }
    .customProductPage__summary .woo-main-custom .woocommerce-variation-price {
        width: 100%;
        margin-bottom: 10px;
    }
    .customProductPage__summary .woo-main-custom a {
        margin-left: 0;
        margin-top: 2px;
    }
    div#customer-ques-id {width: 100%;}
    .customProductPage__summary .woo-main-custom { justify-content: flex-start;}
    .customProductPage__gallery:before{display: none !important;}
    
    .customProductPage__summaryWrapper .woocommerce-variation-customField #measurementsModalBtn {
        margin-left: 0;
        margin-top: 3px;
        width: 100%;
        text-align: center;
    }
    body .blockBullets {margin: 60px 0;}
    section#blockBullets-block_613f22ffa98ed {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .single-product .wp-block-columns figure.wp-block-image {margin: 0;}
    .single-product .wp-block-group__inner-container .wp-block-column img {display: block;}
    .customer-ques{background: none;}
    .product__slider-main .slide.slick-slide img {padding: 0;}
    .product__slider-thmb {padding: 0;}
    body .sp-tab__tab-content .sp-tab__tab-pane {padding: 18px !important;}
    .customProductPage__summaryWrapper .product_titleBox {
        padding: 13px 0 13px 0;
        display: block;
    }
    /*body .customProductPage__summaryWrapper {position: relative;}*/
    section.section.customProductPage__headerWrapper.alignfull > .product_titleBox {display: none;}
    .page404 {padding: 40px 10px 50px;}
    .woocommerce-column address {
        padding: 17px !important;
        margin-bottom: 40px !important;
    }
    section.woocommerce-order-details:before, .page404__wrapper:before {
        width: 92px;
        height: 53px;
        top: -20px;
    }
    .page404__wrapper {padding: 40px 20px;}
    body .custom_block_outer {flex-direction: row;}
    div#sample_slider {padding: 30px 8% 30px;}
    body .sa_owl_theme .owl-dots {bottom: 0 !important;}
    .owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {display: none !important;}
    .single-product .ron p {font-size: 14px;}
    .slick-slide img {padding: 4px;}
    .location-left {
        padding-left: 17px;
        font-size: 11px;
        background-size: 11px
    }
    .location-main {
        font-size: 11px;
        gap: 2px;
        line-height: 1.45;
    }
    h2.research {font-size: 25px;}
    p.gaming {font-size: 18px;}
    .woo-main-custom {flex-wrap: wrap;}
    iframe#iframe {
        border: none;
        width: 100%;
    }
    #menu {
        left: 0;
        right: inherit;
        min-width: 300px;
    }
    #secondaryslider .splide__list{display: block;}
    #secondaryslider .splide__slide img {
        width: 70px !important;
        height: auto;
    }
    div#primary-slider {
        padding: 0 0!important;
        width: 100% !important;
    }
    .customProductPage__gallery .productCustomGallery .splideProductCard .splide__pagination {bottom: -100px !important;}
    .cart-dropdown__wrapper .cart__summary--desc ul li svg {top: 5px;}
    .cart-dropdown__wrapper .cart__summary {padding: 25px 15px;}
    .timeline-content form fieldset {padding: 15px;}
    .cart-dropdown__wrapper .cart-preview {margin: 10px 15px;}
    .customCheckoutPage__billing .form-row {margin-bottom: 15px !important;}
    .timeline-content form fieldset .previous {left: 2px;}
    body .checkout-timeline {margin-bottom: 20px;}
    .woocommerce-cart .single-product-box .product-info {padding: 30px 15px 30px 15px;}
    .woocommerce-cart .single-product-box .product-info .lens-info p {margin-right: 5px;}
    .woocommerce-cart .single-product-box .product-info .lens-info p, address, dl, p {font-size: 15px;}
    .woocommerce-cart .single-product-box .product-info .lens-info .bolder.clickable:after {
        top: 3px;
        width: 10px;
        height: 10px;
        right: -17px;
    }
    .woocommerce-cart  p.lens-price {
        margin: 0;
    }
    h4, h5 {font-size: 15px;}
    body .header__content nav ul.menu>li {
        margin: 11px auto;
        width: 100%;
        text-align: left;
        padding: 0 20px;
    }
    body .header__content nav ul.menu>li a {
        width: calc(100% - 23px);
        display: block;
    }
    .header__content nav ul.menu>li .sub-menu {padding: 0;}
    .header__content nav ul.menu>li .sub-menu li {
        width: 100%;
        padding: 15px 0 0;
    }
    .header__content nav ul.menu>li.current-menu-item a, .header__content nav ul.menu>li.current_page_parent a {color: #41446F;}
    .header__content nav ul.menu>li .sub-menu li a {
        padding-left: 0;
        -webkit-box-pack: flex-start;
        -ms-flex-pack: flex-start;
        justify-content: flex-start;
    }
    .header__content nav ul.menu>li.menu-item-has-children>a span.arrow {
        top: 56%;
        -webkit-transform: translateY(-50%) rotate(-45deg);
        transform: translateY(-50%) rotate(-45deg);
    }
    .header__content nav ul.menu>li.menu-item-has-children>a span.arrow.active {
        -webkit-transform: translateY(-50%) rotate(55deg);
        transform: translateY(-50%) rotate(45deg);
    }
    .customArchiveProduct__bannerText h2:before {left: -15px;}
    .customArchiveProduct__loopWrapper--item .price span.price__content {
        margin-bottom: 15px;
        text-align: center;
    }
    .glsr-default .glsr-review {padding: 20px 10px 30px;}
    .glsr-default .glsr-review>.glsr-review-content, .glsr .glsr-review-response-inner, .glsr-default .glsr-review>.glsr-review-date {
        padding-left: 85px;
        font-size: 13px;
    }
    div#wpadminbar {display: none !important;}
    .alignfull {width: calc(100vw - 33px);}
    .wp-block-columns.custom_block_outer {margin-bottom: 50px;}
    .customArchiveProduct__loopWrapper--item .price .variable_add_to_cart {width: auto;}
    .customArchiveProduct__loopWrapper--item .price .variable_add_to_cart svg {
        position: relative;
        top: -2px;
    }
    .customArchiveProduct__loopWrapper--item {margin: 15px auto;}
    #lightbox-gallery-modal.opened .lightboxGalleryContainer {padding: 10px;}
    div#customer_details input.next.button__muunel, .cart__summary.cart_totals a.button__muunel, .woocommerce #payment #place_order, .woocommerce-page #payment #place_order  {
        bottom: 0;
        position: fixed;
        z-index: 9999999999;
        border: none;
        left: 0;
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
        transition: all .3s;
        width: calc(100% - 33px);
        margin: 15px 16px 10px 16px;
    }
    div#lenses_modal_trigger {
        position: fixed;
        z-index: 9999999999;
        bottom: -90px;
        border: none;
        left: 0;
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
        margin: 0;
        transition: all .3s;
        width: calc(100% - 33px);
        visibility: hidden;
        margin: 15px 16px 10px 17px;
    }
    div#lenses_modal_trigger.visible {
        bottom: 0;
        visibility: visible;
    }
    .end-main {
        gap: 4px;
        //flex-direction: column;
        padding: 3px 10px;
    }
    html {margin: 0 !important;}
    /*.customCartPage__sidebar {margin: 0 -15px;    }*/
    .woocommerce-checkout footer.footer {padding-bottom: 85px;}
    body .faq_full_width__small_content__title {padding: 20px 50px 15px 15px;}
    body .faq_full_width__small_content__title:after {right: 10px;}
    .faq_full_width__column p {
        white-space: nowrap;
        padding: 4px 10px;
        margin: 0;
    }
    .faq_full_width__column {
        display: flex;
        overflow: auto;
        padding: 15px 5px;
    }
    .faq_full_width {padding: 30px 0;}
    .trendArticles ul li.splide__slide p {max-height: 100%;}
    body .trendArticles ul li.splide__slide {        padding: 10px;}
    .trendArticles ul li.splide__slide span.read-more {margin: 15px 0;}
    .trendArticles ul li.splide__slide a .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3px;
    }
    .header__content nav ul.menu {
        left: -100%;
        width: 100% !important;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        opacity: 0;
        visibility: hidden;
    }
    .header__content nav ul.menu.opened {
        width: 100%;
        padding: 0;
        left: 0;
        opacity: 1;
        visibility: visible;
    }
    .owl-carousel .owl-item img {display: inline !important;}
    .single-product .wp-block-group__inner-container .wp-block-column:first-child, .single-product .wp-block-group__inner-container .wp-block-column {
        flex-basis: 100% !important;
    }
    .video-div {padding-top: 80%;}
    .lenses_modal .lens__back {top: 14px;}
    .lenses_modal .close {top: 7px;}
    .pc_icon img {max-width: 130px;}
    .banner_content h2 {
        font-size: 19px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .banner_content p {font-size: 13px;}
    .banner_content {
        bottom: 70px;
        left: 15px;
        padding: 18px;
        width: 230px;    
    }
    .banner_content a {
        padding: 10px 20px;
        font-size: 14px;
    }
    .banner_content:before {
        width: 100px;
        height: 100px;
        right: -40px;
        top: -40px;
        background-size: 100%;
    }
    .icon-arrow {
        bottom: -10px;
    }
    .woocommerce-cart .single-product-box .product-control .product-remove .remove {
        margin-top: 0;
    }
    .woocommerce-cart .single-product-box .product-control .product-remove font, 
    .woocommerce-cart .single-product-box .product-control .product-remove .remove .close + div {
        display: none;
    }
    .woocommerce-cart .single-product-box .product-control .cost-info {
        width: auto;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 2;
        order: 2;
    }
    .woocommerce-cart .single-product-box .product-control .product-quantity {
        width: auto;
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 1;
        order: 1;
    }
    .woocommerce-cart .single-product-box .product-control .product-remove {
        position: relative;
        bottom: 0;
        right: 0;
        width: auto;
        order: 3;
    }
    .woocommerce-cart .single-product-box .product-control .cost-info .total-cost {
        margin-bottom: 0;
        margin-top: 0;
        font-size: 18px;
    }
    
    span.badge, li.product span.badge {
        left: inherit;
        top: 10px;
        right: 0;
    }
    .archive.woocommerce ul.products li.product, .archive.woocommerce-page ul.products li.product {
        padding: 10px;
    }
    .customProductPage__summaryWrapper--shareButton {
        top: 10px;
        right: 10px;
    }
    .single-product .measurementsModalWysiwyg {
        margin-bottom: 0;
        margin-top: 10px;
    }
    .secure {
        margin-top: -14px;
        margin-bottom: -10px;
    }
    .customProductPage__summary .button__muunel {
        padding: 19px 20px 17px;
    }
    /*******slider dot remove*******/
    div#primary-slider-track ~ ul.splide__pagination:last-child{
        display: none !important;
    }
    .single-product .customProductPage__gallery {
        margin-bottom: 0;
    }
    /*************/
    .customer h2, .customer h1 {
        font-size: 24px;
    }
    body .custom-rotate .close {
        height: 18px;
        font-size: 18px;
        line-height: 18px;
    }
    .timeline-content form div#customer_details fieldset {
        padding: 0;
    }
    .woocommerce .checkout-form form p.form-row {
        width: 100% !important;
        margin-bottom: 30px !important;
    }
    .checkout-timeline .checkout-timeline-wrapper .single-tab-step .title-box span.checkout_numbering, .checkout-timeline .checkout-timeline-wrapper .step .title-box span.checkout_numbering {
        width: 22px;
        height: 22px;
        line-height: 23px;
        margin-right: 5px;
        font-size: 14px;
    }
    .checkout-timeline .checkout-timeline-wrapper .single-tab-step .title-box p, .checkout-timeline .checkout-timeline-wrapper .step .title-box p {
        font-size: 12px;
    }
    .checkout-timeline .checkout-timeline-wrapper .single-tab-step .title-box, .checkout-timeline .checkout-timeline-wrapper .step .title-box {
        padding: 14px 7px;
    }
.customCartPage__sidebar {
        margin: 0;
    }


}

@media(max-width: 575px){
    .archive.woocommerce ul.products li.product, .archive.woocommerce-page ul.products li.product {
        width: 100%;
    }
}

@media(max-width: 479px){
    body .slick-next, body .slick-prev{display: none !important;}
    .product__slider-main.slick-initialized.slick-slider {padding: 0;}
    .woocommerce ul.order_details li {
        border: none;
        padding: 0;
        margin: 7px 00;
        width: 100%;
    }
}
@media screen and (max-width: 1024px) {
    .space_mob {display:none;}
}
div#secondaryslider {/*display: none;*/ padding: 0 60px;}
div#primary-slider-track ~ ul.splide__pagination {display: none}
/*div#primary-slider-track ~ ul.splide__pagination:last-child {display: flex}*/
.customProductPage__gallery .productCustomGallery .splideProductCard .splide__pagination {
    bottom: -140px;
}
.wpml-ls-legacy-dropdown-click{width:15.5em;max-width:100%}.wpml-ls-legacy-dropdown-click>ul{position:relative;padding:0;margin:0!important;list-style-type:none}.wpml-ls-legacy-dropdown-click .wpml-ls-item{padding:0;margin:0;list-style-type:none}.wpml-ls-legacy-dropdown-click a{display:block;text-decoration:none;color:#444;border:1px solid #cdcdcd;background-color:#fff;padding:5px 10px;line-height:1}.wpml-ls-legacy-dropdown-click a span{vertical-align:middle}.wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle{position:relative;padding-right:calc(10px + 1.4em)}.rtl .wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle{padding-right:10px;padding-left:calc(10px + 1.4em)}.wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle:after{content:"";vertical-align:middle;display:inline-block;border:.35em solid transparent;border-top:.5em solid;position:absolute;right:10px;top:calc(50% - .175em)}.rtl .wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle:after{right:auto;left:10px}.wpml-ls-legacy-dropdown-click .wpml-ls-current-language:hover>a,.wpml-ls-legacy-dropdown-click a:focus,.wpml-ls-legacy-dropdown-click a:hover{color:#000;background:#eee}.wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu{visibility:hidden;position:absolute;top:100%;right:0;left:0;border-top:1px solid #cdcdcd;padding:0;margin:0;list-style-type:none;z-index:101}.wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu a{border-width:0 1px 1px}.wpml-ls-legacy-dropdown-click .wpml-ls-flag{display:inline;vertical-align:middle}.wpml-ls-legacy-dropdown-click .wpml-ls-flag+span{margin-left:.4em}.rtl .wpml-ls-legacy-dropdown-click .wpml-ls-flag+span{margin-left:0;margin-right:.4em}
/*# sourceMappingURL=style.min.css.map */
@media (min-width: 320px) and (max-width: 480px){
    .pr-50 {
        padding-right: 10px;
        padding-left: 10px;
    }
    .hide_on_mobile {display:none;}
}
