body{font-family: Montserrat,sans-serif !important;margin-top: 0 !important; font-size: 14px;}
address, dl, p{font-size: 14px;}
p#order_comments_field {
    display: none;
}
.header {position: -webkit-sticky;position: sticky;}
/*.archive li#yith-woocommerce-ajax-navigation-filters-3 {display: none;}*/
h2.sp-tab__section_title_7843 {display: none;}
h2.sp-tab__section_title_7855 {display: none;}
h2.sp-tab__section_title_7860{display: none;}
h2.sp-tab__section_title_7752{display:none;}
.customProductPage__summary .woo-main-custom {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
} 
picture.kit_save img {
    margin-left: 3px;
    opacity: 1;
    cursor: pointer;
    vertical-align: middle;
    width: 20px;
    position: relative;
    top: -2px;
}
.qust-img { width:100%; vertical-align: middle; max-width: 20px;cursor:pointer;}
.customProductPage__summary .woo-main-custom .woocommerce-variation-price {
    display: -ms-inline-flex;
    display: -webkit-inline-flex;
    display: inline-flex;
    align-items: center;
}
.customProductPage__summary .woo-main-custom .woocommerce-variation-price > span:first-child {padding-right: 8px;}
.customProductPage__summary .woo-main-custom .star_icon img {
    max-width: 86px;
    width: 100%;
}
.single-product .customProductPage__summary {
    width: 46%;
    padding-left: 4%;
    margin-bottom: 30px;
    margin-top: 30px;
}
.single-product .customProductPage__gallery {
    width: 54%;
    margin-bottom: 60px;
}
.single-product .pageWrapper {padding-top: 0;}
.single-product .customProductPage__gallery .productCustomGallery .splideProductCard .splide__slide {
    padding: 0 0 100%;
    max-height: 660px;
    height: auto;
}
.customProductPage__gallery .productCustomGallery .splideProductCard .splide__slide video {
    width: auto;
    max-width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
div#primary-slider{
    padding: 0 60px !important;
    width: 100% !important;
}
.customProductPage__gallery .productCustomGallery .splideProductCard .splide__arrow--prev {left: 0;}
.customProductPage__gallery .productCustomGallery .splideProductCard .splide__arrow--next {right: 0;}
.customProductPage__summaryWrapper .product_titleBox {
    width: 100%;
    border-top: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
    margin-bottom: 22px;
    padding: 18px 30px 18px 0;
}
.woocommerce div.product .product_title {background: transparent;}
.customProductPage__summaryWrapper--shareButton {top: 65px;}
.customProductPage__summaryWrapper--excerpt * {line-height: 1.4;}
.single-product .measurementsModalWysiwyg {
    border: 1px solid #E9E9E9;
    padding: 7px 10px;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 28px;
    position: relative;
}
.single-product .measurementsModalWysiwyg h4 {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    width: auto;
    color: rgba(0,0,0,.5);
}
.single-product .productCarousel .button-box {display: none;}
.single-product  .productCarousel .splide .splide__pagination {
    bottom: -20px;
    position: relative;
}
.single-product .measurementsModalWysiwyg p {
    font-size: 14px;
    display: inline;
    margin: 0;
    color: rgba(0,0,0,.5);
}
.single-product .customProductPage__gallery:after{display: none;}

.customProductPage__summary .button__muunel {
    margin: 0 auto;
    padding: 22.5px 41.5px 19.5px;
}
body .button__muunel, .wp-block-button.is-style-muunel a, .blockBannerGetstarted__content .links a, .contact .contact-box .form-box form .wpcf7-submit {
    background: #41446F;
    color:  #fff;
}
body .button__muunel:hover, .wp-block-button.is-style-muunel a:hover, .blockBannerGetstarted__content .links a:hover, .contact .contact-box .form-box form .wpcf7-submit:hover {
  background-color: #fbbc05 !important;
}    
.customProductPage__summaryWrapper .woocommerce-variation-customField #measurementsModalBtn {
    color: #41446F;
    float: right;
    margin: 0;
    order: 2;
    font-size: 14px;
    margin-left: auto;
}
.woocommerce-variation-customField {
    display: flex;
    flex-wrap: wrap;
}
.customProductPage__summaryWrapper .variable-items-wrapper .variable-item.selected {
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.35) !important;
    box-shadow: 0 0 0 1px rgba(0,0,0,.35) !important;
}
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).color-variable-item .variable-item-span-color:after {
    box-shadow: none;
}
.woocommerce-variation-price span {
    color: rgba(0,0,0,.5);
    font-weight: 600;
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
}
.customProductPage__summaryWrapper .woocommerce-Price-amount {
    font-size: 20px;
    font-weight: bold;
}
.single-product .wp-block-group__inner-container .wp-block-column {margin: 0;}
.single-product figure.wp-block-video {
    position: relative;
    padding-bottom: 67.75%;
}
.single-product .wp-block-video video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.single-product .wp-block-group__inner-container .wp-block-column img {
    width: 100%;
}
.single-product .wp-block-group__inner-container .wp-block-column:first-child {
    flex-basis: 14.55%;
}
.product__slider-main .slide.slick-slide img {
    padding: 0 10px;
    max-height: 540px;
    height: auto;
}
.product__slider-thmb {padding: 0 70px;}
body .slick-next, body .slick-prev {
    background: #F2F2F2 !important;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 9;
}
body .slick-next:before, body .slick-prev:before {color: #000;}
.slick-slide img {
    display: block;
    padding: 8px;
}
body .product__slider-thmb .slick-slide {opacity: 1;}
body .slick-dots li button:before {font-size: 12px;}
.product__slider-thmb  .slick-dots {left: 0;}
.product__slider-thmb  .slick-dots li {margin: 0 2px;}
.product__slider-thmb .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #41446F;
}
.product__slider-main, .product__slider-thmb {display:block !important;}
body .slick-next:before, body .slick-prev:before {
    color: #000;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 25px;
    height: 25px;
    background-image: url(/wp-content/themes/flexible-theme/dist/97a271b7778532df75b1c46c5084c937.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}
body .slick-prev:before {
    -webkit-transform: translate(-50%,-50%) scaleX(-1);
    transform: translate(-50%,-50%) scaleX(-1);
}
.product__slider-main.slick-initialized.slick-slider {padding: 0 50px;}
.customProductPage.product {
    border-bottom: 1px solid #E9E9E9;
    margin-bottom: 50px !important;
}
label.sp-tab__nav-link h4 {color: #858585 !important;}
label.sp-tab__nav-link.sp-tab__active h4 {color: #000 !important;}
label.sp-tab__nav-link {
    border: none !important;
    background: #fff !important;
    padding: 15px 30px !important;
}
label.sp-tab__nav-link.sp-tab__active{background: #FAFBFF !important;}
.sp-tab__lay-default ul.sp-tab__nav.sp-tab__nav-tabs {
    border: none !important;
    display: flex !important;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: auto;
}
.sp-tab__nav-link .sp-tab__tab_title {white-space: nowrap; font-size: 15px !important;}
.sp-tab__tab-content .sp-tab__tab-pane.sp-tab__active {
    background: #FAFBFF !important;
    border: none !important;
    min-height: 230px;
}
li.sp-tab__nav-item {margin-bottom: 11px !important;}
.sp-tab__lay-default {margin-bottom: 40px;}
.sp-tab__tab-content .sp-tab__tab-pane {padding: 30px !important;}
.sp-tab__tab-content .sp-tab__tab-pane p, .sp-tab__tab-content .sp-tab__tab-pane li {line-height: 1.5;}
.sp-tab__tab-content .sp-tab__tab-pane li {
    padding-left: 17px;
    position: relative;
    margin-bottom: 10px;
    display: block;
}
.sp-tab__tab-content .sp-tab__tab-pane li:before {
    content: "";
    background: #000;
    position: absolute;
    left: 0;
    top: 8px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
}
.sp-tab-content ul {
    margin: 0;
    padding: 0;
    border: none !important;
}
.customer h2, .customer h1 {
    text-align: center;
    font-weight: 500;
    font-size: 28px;
}
.customer-text {
    text-align: center;
    color: #858585;
    max-width: 500px;
    margin: 0 auto 40px;
    line-height: 1.6;
}
.que_ans {
    border: 1px solid #E9E9E9;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto 20px;
    display: table;
    width: 100%;
}
.que, .ans {
    width: 100px;
    float: left;
    color: #E37750;
    font-weight: 500;
    line-height: 1.6;
}
.que_col, .ans_col{
    float: left;
    width: calc(100% - 100px);
    font-weight: 400;
    color: #000;
    line-height: 1.6;
}
.que_col span, .ans_col span {
    display: block;
    margin: 6px 0px 18px;
    color: #aaa;
    font-size: 15px;
}
.ans{color: #99B09B}
.blockBullets__content:before {height: 69px;}
section#blockBullets-block_6106a2f4af11a .blockBullets__content:before, section#blockBullets-block_613f22ffa98ed .blockBullets__content:before{
    display: none;
}
section#blockBullets-block_613f22ffa98ed {margin-top: 20px;}
section#blockBullets-block_6106a2f4af11a {
    margin-bottom: 30px;
    margin-top: 70px;
}
.customer-ques {
    background: url(/wp-content/uploads/2021/09/Intersect.svg), url(/wp-content/themes/flexible-theme/dist/e1e5e6259d10b00eda95d01611590396.svg);
    background-repeat: no-repeat;
    background-position: 98% 120px, 0 72%;
    margin-top: 60px;
}
.blockBullets__content--item__icon img {
    width: 40px;
    height: 40px;
}
.read-more a {
    background: url(/wp-content/uploads/2021/09/ic-read.svg);
    background-repeat: no-repeat;
    padding-left: 35px;
    padding-top: 3px;
    font-weight: 500;
    padding: 15px 22px 15px 50px;
    background-position: 18px 12px;
    display: inline-block;
}
.read-more a:hover{background-color: #fbbc05;}
.read-more {
    text-align: center;
    margin: 40px 0 80px;
}
button#cart-printing {display: none;}
.woocommerce-thankyou-order-received {
    border-bottom: 1px solid #E9E9E9;
    padding: 10px 3px;
    border-radius: 3px;
    order: 3;
    width: auto;
    margin-bottom: 0;
    border-top: 1px solid #E9E9E9;
}
.woocommerce ul.order_details {
    margin: 0 0 30px;
    padding: 0;
    background: #f5f5f5;
    padding: 20px;
    border-bottom: 1px solid #E9E9E9;
}
ul.wc-item-meta {padding: 0;}
.woocommerce table.shop_table {
    border-collapse: collapse;
}
.woocommerce table.shop_table th, .woocommerce table.shop_table td {
    border: 1px solid #e5e5e5;
    padding: 15px 20px;
}
.woocommerce table.shop_table tr:nth-child(even) {background: #f5f5f5;}
.woocommerce table.shop_table thead th {
    background: black;
    border-color: #333;
    color: #fff;
}
.woocommerce table.shop_table thead th {
    background: #333;
    border-color: #777;
    color: #fff;
}
.woocommerce-column address {
    padding: 20px !important;
    line-height: 1.7;
    border: 1px solid #e4e9f5 !important;
    background: #f4f6fb;
    position: relative;
    min-height: 260px;
}
.woocommerce-column address:before, .page404__wrapper:after {
    content: "\e84a";
    font-size: 100px;
    font-weight: 400;
    font-family: muunel;
    display: inline-block;
    position: absolute;
    color: rgb(140 148 169 / 22%);
    right: 0;
    bottom: 0;
    line-height: 1;
}
h2.woocommerce-column__title, h2.woocommerce-order-details__title, .page404__wrapper h1 {
    font-weight: bold;
    margin-top: 20px;
    position: relative;
    margin-left: 30px;
}
h2.woocommerce-column__title:before, h2.woocommerce-order-details__title:before, .page404__wrapper h1:before{
    content: "\e803";
    font-family: muunel;
    color: #fbbc05;
    position: absolute;
    top: -18px;
    left: -30px;
    z-index: 1;
}
section.woocommerce-order-details {position: relative;}
section.woocommerce-order-details:before, .page404__wrapper:before {
    content: "";
    background-image: url(/wp-content/themes/flexible-theme/dist/397bf7e070d2052dc24a4d3d41f323c7.svg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 112px;
    height: 65px;
    position: absolute;
    right: 0;
    top: -25px;
}
.page404__wrapper h1 {
    display: inline-block;
    width: auto;
    margin: 0;
}
.page404 {padding: 5vh 50px 80px;}
a.button__muunel {margin-top: 30px;}
.page404__wrapper {
    max-width: 900px;
    margin: 0 auto;
    background: #f5f5f5;
    padding: 3%;
    position: relative;
    border-radius: 45px;
}
.page404__wrapper:after{
    content: "\e84b";
    left: 0;
    right: inherit;
}
.page404__wrapper h1:before {
    font-size: 26px;
    top: -10px;
}
body .slick-prev {left: 0;}
body .slick-next {right: 0;}
.lenses_modal h2 {
    text-align: center;
    font-size: 16px;
}
h2.woocommerce-order-details__title, h2.woocommerce-column__title {
    width: auto;
}
.Header__Container-sc-17gc7x6-1 {
    padding: 0 !important;
    background: none !important;
}
.woo-main-custom {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 25px;
}
.woo-custom-measure {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
      align-items: center;
    gap: 5px;
}
.woocommerce div.product form.cart .variations {
    width: 50%;
    margin: 0;
}
.location-main {
    font-size: 14px;
    color: #41446F;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}
.location-left {
    padding-left: 24px;
    background: url(/wp-content/uploads/2021/09/location.svg) no-repeat;
    background-position: left center;
}
body .custom_block_outer .white .sa_owl_theme .owl-nav .owl-next, body .custom_block_outer .white .sa_owl_theme .owl-nav .owl-prev {
    opacity: 1 !important;
    background: url(/wp-content/themes/flexible-theme/dist/97a271b7778532df75b1c46c5084c937.svg) no-repeat !important;
}
body .custom_block_outer .white {
    border: none !important;
    background: transparent !important;
    padding: 0 !important;
}
.custom_block_outer .white .sa_owl_theme .owl-nav .owl-prev {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.sa_hover_container {
    padding: 0 !important;
    min-height: 10px !important;
    background: transparent !important;
}
p:empty {display: none;}
body .productCarousel .splide__slide{height: auto !important;}
.custom_block_outer {
    display: flex;
    align-items: center;
    background: #f0c75f;
}
div#sample_slider {
    background: url(/wp-content/uploads/2021/09/bg.svg) no-repeat #f0c75f;
    background-position: center;
    background-size: auto 100%;
    padding: 90px 13%;
}
.custom_block_outer figure.wp-block-image {margin: 0;}
.custom_block_outer figure.wp-block-image img {display: block;}
.custom_block_outer .autohide-arrows .owl-nav {display: block !important;}
.custom_block_outer  h3 {
    font-weight: bold;
    font-size: 22px;
}
.custom_block_outer p {line-height: 1.5;}
.custom_block_outer a {
    background: url(/wp-content/uploads/2021/09/ic-read.svg) #fff;
    background-repeat: no-repeat;
    padding-left: 35px;
    padding-top: 3px;
    font-weight: 500;
    padding: 17px 55px 17px 90px;
    background-position: 55px 14px;
    display: inline-block;
    margin-top: 40px;
}
.Rating__RatingValue-cmor0f-1 {
    order: 5;
    margin-left: 10px;
    margin-right: 0 !important;
}
.glsr-field.glsr-field-rating, .glsr-field-text, .glsr-field-choice {display: none;}
.glsr.glsr-default {
    background: #f5f5f5;
    padding: 4%;
    float: left;
    width: 100%;
    margin-bottom: 50px;
}
.glsr-default form.glsr-form textarea.glsr-textarea, .glsr-default form.glsr-form input.glsr-input {
    padding: 15px 20px !important;
    border: 1px solid #e5e5e5;
    height: auto;
    font-weight: normal !important;
}
.glsr-default button.glsr-button.button.btn {
    height: auto;
    background: #41446f  !important;
    border: none !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    padding: 10px 50px 9px!important;
    margin: 10px auto 0!important;
    display: block;
}
.glsr-default button.glsr-button.button.btn:hover {
    background: #f0c75f !important;
    color: #000 !important;
}
.glsr-default form.glsr-form label.glsr-label {display: none;}
.glsr-default form.glsr-form textarea.glsr-textarea {height: 170px;}
.color-variable-item-testoasa span.variable-item-span-color, 
.color-variable-item-tortoise .variable-item-span.variable-item-span-color, .customArchiveProduct__loopWrapper--item .variable_buttons [data-variable="testoasa"] span {
    background: url(/wp-content/uploads/2021/10/turquos-icon.png) no-repeat !important;
    background-size: 103% !important;
    background-position: center !important;
}
.secure_payment {
    text-align: center;
    display: inline-block;
    padding-left: 25px;
    background: url(/wp-content/uploads/2021/09/ic-privacy.svg) no-repeat;
    background-position: left center;
    font-size: 14px;
    color: #41446f;
}
.secure {
    width: 100%;
    margin-top: 18px;
    text-align: center;
    position: relative;
}
.ron {
    text-align: center;
    width: 100%;
    background: rgb(251 188 5 / 10%);
    border: 1px solid rgb(251 188 5 / 46%);
    padding: 11px;
    margin-top: 7px;
    position: relative;
}
.single-product .ron p {
    color: #858585;
    font-size: 16px;
}
p.spend {
    display: inline-block;
    color: #858585;
}
body .sp-tab__lay-default .sp-tab__tab-content .sp-tab__tab-pane {
    font-size: 14px !important;
}
img.kit_save {
    margin-left: 7px;
    opacity: .5;
      cursor: pointer;
    vertical-align: middle;
}
.research {
    text-align: center;
    margin-top: 60px;
}
h2.research {
    font-weight: 700;
    font-size: 34px;
}
p.gaming {
    max-width: 600px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 600;
}
.antine h2 {
    display: inline-block;
    background: url(/wp-content/uploads/2021/09/alsolike_bg.svg) no-repeat;
    width: auto;
    padding: 8px 0 45px 27px;
}
.antine {
    text-align: center;
    margin: 60px 0 15px;
}
.glsr-review-rating, .glsr-review-title {display: none;}
.glsr-review-date span {
    margin: 0 !important;
    color: #aaa;
    font-size: 13px;
    font-style: normal;
}
.glsr-review-date span:before {content: "By Admin ";}
.glsr .glsr-review-response {
    padding: 0;
    background: transparent;
    order: 3;
}
.glsr .glsr-review-response:before, .glsr .glsr-review-response:after{display: none;}
.glsr-review-date {order: 2;}
.glsr-review-content {order: 1;}
.glsr-review-response-inner p:first-child {display: none;}
.glsr.glsr-default.glsr-ltr {
    background: transparent;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto 40px;
    float: none;
    padding-top: 0;
}
.glsr-default .glsr-review {
    border: 1px solid #E9E9E9;
    padding: 20px 20px 30px;;
}
.glsr-default .glsr-review>.glsr-review-content {
    margin: 0 0 7px;
    padding-left: 100px;
    position: relative;
}
.glsr-review-content:before {
    content: "Întrebare";
    width: 100px;
    float: left;
    color: #E37750;
    font-weight: 500;
    line-height: 1.6;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 15px
}
.glsr .glsr-review-response-inner {padding-left: 100px;}
.glsr-review-response-inner:before {
    content: "Răspuns";
    width: 100px;
    float: left;
    color: #99b09b;
    font-weight: 500;
    line-height: 1.6;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 15px
}
.glsr-default .glsr-review>.glsr-review-date {
    padding-left: 100px;
    flex-basis: 100%;
}
.glsr-review-author{display: none !important;}
.glsr-reviews-wrap .glsr-reviews {
    gap: 20px;
    grid-gap: 20px;
}
.glsr-default .glsr-review>.glsr-review-response{margin-top: 5px;}
.Stats__ReviewsCount-aktd5o-3 {display: none !important;}
.header__infolabel--text.norotate p {
    transform: none !important;
    animation: none;
}
button#myBtn {margin-bottom: 15px;}
 div#myModal, .ron #myModal1, #myModal2 {
    position: absolute;
    padding: 0;
    background: #fff;
    height: auto;
    top: 70%;
    padding-top: 13px;
}
 #myModal2{
    background: transparent;
    top: 100%;
 }
.ron #myModal1{
    background: transparent;
    top: 33px;
}
body  .modal-content, .ron .modal-content1 {
    margin: auto;
    padding: 20px;
    border: 1px solid #fbbc05;
    width: 95%;
    background: #fff;
    position: relative;
}
body .modal-content1 ul, body .modal-content ul {
    padding: 0;
    margin: 0;
}
body .modal-content1 ul li, body .modal-content ul li {
    text-align: left;
    list-style: none;
    font-size: 15px;
    padding: 6px 0 6px 20px;
    position: relative;
    line-height: 1.45;
}
body .modal-content1 ul li:before, body .modal-content ul li:before {
    content: "";
    background: #41446f;
    position: absolute;
    left: 0;
    top: 11px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}
body .modal-content span.close, .ron  .modal-content1 span.close1, .modal-content span.close2 {
    position: absolute;
    right: 7px;
    top: 0px;
}
body .modal-content p, .ron .modal-content1 p {
    font-size: 14px;
    line-height: 1.7;
    text-align: left;
}
body .modal-content:before, .ron .modal-content1:before {
    content: "";
    border-left: 1px solid #fbbc05;
    border-top: 1px solid #fbbc05;
    position: absolute;
    padding: 7px;
    top: -8px;
    transform: rotate(45deg);
    background: #fff;
}
.ron .modal-content1:before {left: 58%;}
.ron .modal-content1:after {left: 58%;}
video#vidplay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-div {
    position: relative;
    padding-top: 80%;
    margin-bottom: -1px; 
}
#toggle {
    color: #858585;
    font-size: 13px;
    white-space: nowrap;
    line-height: normal;
    height: 16px;
    position: relative;
    padding-right: 14px;
    cursor: pointer;
    margin-left: 3px;
    padding-top: 1px;
}
#toggle:before {
    content: "";
    border-left: 1px solid #858585;
    border-bottom: 1px solid #858585;
    position: absolute;
    right: 0;
    padding: 3.5px;
    transform: rotate(-45deg);
    top: 50%;
    margin-top: -5px;
}
#toggle.on .one {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on .two {opacity: 0;}

#toggle.on .three {
  transform: rotate(-45deg) translate(7px, -8px);
}
iframe#iframe {border: none;}
#menu {
    display: none;
    position: absolute;
    z-index: 9;
    right: -100%;
    min-width: 400px;
}
.answer-ques {
    position: relative;
    display: flex;
    margin-left: 2px;
}
#toggle.on:before {
    transform: rotate(-225deg);
    top: 50%;
    margin-top: 0px;
}
.sa_owl_theme .owl-dots{left: 0;}
.single-product img.new-im {
    max-width: 60px !important;
    margin: 0 auto 20px 
}
.measurementsModal__staticInfoBlock {
    border: 1px solid #ccd8cd;
    margin-top: 20px;
    background-color: rgba(204,216,205,.2);
    padding: 10px 15px;
}
body .measurementsModal__staticInfoBlock .wysiwyg ,body .measurementsModal__staticInfoBlock img {
    width: 50%;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    width: 100%;
}
body .measurementsModal__staticInfoBlock .wysiwyg h4 span {font-weight: 600 !important;}

body .measurementsModal__staticInfoBlock .wysiwyg h4 {margin: 0 0 15px;}
body .measurementsModal__staticInfoBlock img {max-width: 250px;}
.measurementsModal__dynamicInfo h3 {font-weight: bold;}
.woocommerce-product-details__short-description h2 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-bottom: 12px;
}
.customProductPage__summaryWrapper--excerpt *{
    font-size: 14px;
}
.woocommerce-product-details__short-description p {
    line-height: 1.5;
}
button#myBtn:hover {color: #8286b7;}
img.kit_save:hover {opacity: 1;}
.answer-ques p {
    margin: 0;
    line-height: 1.2;
}
.customProductPage__summary .woo-main-custom a {
    margin-left: auto;
    margin-top: 4px;
}
.wp-block-columns.custom_block_outer {margin-bottom: 70px;}
.digital1:before, .digital2:before {display: none;}
.research h3 {
    max-width: 650px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.45;
}
.measurementsModal__dynamicInfo p {text-align: center !important;}
.measurementsModal__dynamicImg {max-width: 600px!important;}
.button__muunel svg>* {
    -webkit-transition: stroke .3s ease,fill .3s ease;
    transition: stroke .3s ease,fill .3s ease;
    stroke: white;
}
.button__muunel:hover svg>* {stroke: #000;}
.button__muunel svg {
    margin-right: 15px;
    vertical-align: middle;
    position: relative;
    top: -3px;
}
body .customArchiveProduct__bannerWrapper {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
}
body .customArchiveProduct__banner.set_1 .icon-dots-vertical {
    top: -40px;
    left: 10px;
}
.customArchiveProduct__banner.set_1 .icon-trangle{display: none;}
body .customArchiveProduct__banner {position: relative;}
body .customArchiveProduct__bannerText {position: static;}
.customArchiveProduct__bannerText h2 {position: relative;}
.customArchiveProduct__bannerText h2:before {
    content: "";
    content: "\e803";
    font-family: muunel;
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    position: absolute;
    left: -30px;
    top: -17px;
}
body .customArchiveProduct__banner.set_1 .icon-half {
    bottom: 0;
    right: 0;
}
#breadcrumbs {margin-top: 13px;}
/* lightbox css */
@media (min-width:1200px) {
    body .lg-backdrop { 
        z-index: 99991 !important; 
    }
    body .lg-outer .lg-inner {
        padding-left: 150px !important;
    }
    body .lg-outer .lg-thumb-outer {
        height: 100vh !important;
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        width: 150px !important;
        max-height: 100% !important;
    }
    body .lg-outer .lg-thumb-outer {
        background-color: #fff !important; 
    }
    body .lg-outer .lg-thumb-outer .lg-thumb.lg-group {
        display: flex !important;
        flex-direction: column !important;
        max-width: 150px !important;
        align-items: center !important;
        overflow-y: auto !important;
        padding-top: 90px !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
    }
    body .lg-outer{z-index: 99992 !important;}
    body .lg-img-wrap {
        padding: 50px !important;
        background-color: #fff;
    }   
    body .lg-outer .lg-thumb-outer.lg-grab .lg-thumb-item {min-height: 100px !important;}
    body .lg-thumb-outer.lg-grabbing .lg-thumb-item {min-height:100px !important;}
    body .lg-actions .lg-prev {left: 150px;}
    body .lg-object.lg-image {padding-right: 50px;}
    body .lg-icon::after {color: #000;}
    body #lg-counter {color: #000;}
    body .lg-actions .lg-next, body .lg-actions .lg-prev {color: #000; }
    body .lg-outer .lg-inner {
        background: #fff;
    }
}
/* end of lightbox css */
@media(max-width: 1600px){
    #menu {right: 0;}
}
@media(max-width: 991px){
    .customProductPage__summary .button__muunel {padding: 19px 40px 17px;}
    .customProductPage__summaryWrapper .woocommerce-variation-customField #measurementsModalBtn {
        margin-left: 0;
        margin-top: 2px;
    }
    label.sp-tab__nav-link {padding: 15px 20px !important;}
    .glsr.glsr-default.glsr-ltr {padding: 0;}
    .glsr-default .glsr-review>.glsr-review-content, .glsr .glsr-review-response-inner, .glsr-default .glsr-review>.glsr-review-date {
        padding-left: 85px;
        font-size: 14px;
    }
    .glsr-default .glsr-review p {font-size: 14px;
    }
}
#secondaryslider .splide__slide img {
    width: 70px;
    height: auto;
}
#secondaryslider li.splide__slide {
    float: left;
    transition: .3s all ease-in-out;
}
div#secondaryslider {
    position: relative;
    transform: translate(0, 5px) !important;
}
#secondaryslider .splide__arrows {display: none;}
#secondaryslider .splide__list {
    display: flex !important;
    justify-content: flex-start;
    width: 100%;
}
#secondaryslider-list .splide__slide.video_slide {position: relative;}
#secondaryslider-list .splide__slide.video_slide::after {
    content: "\f144";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .5);
    font-family: "Font Awesome 5 Free";
    font-size: 28px;
    color: #fff;
    text-align: center;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.customProductPage__gallery::after { 
    bottom: -6px; 
    z-index: -1;
}
#secondaryslider-list .splide__slide {
    border: 1px solid #ddd;
    margin: 0;
    cursor: pointer;
}
#secondaryslider-list .splide__slide.active{border-color:#f0c75f}
.customProductPage__gallery .productCustomGallery .splideProductCard .splide__pagination li [aria-controls="primary-slider-slide08"] {
    background: url(/wp-content/uploads/2021/09/play_icon.svg);
    background-repeat: no-repeat;
    background-size: 10px;
    border-radius: 0;
}
section.section.productCarousel {margin-top: 60px;}
.customer-ques .glsr.glsr-default.glsr-ltr {
    margin-bottom: 0;
    padding-bottom: 0;
}
#lightbox-gallery-modal ul.splide__pagination li [aria-controls="lightboxGalleryContent-slide08"] {
    background: url(/wp-content/uploads/2021/09/play_icon.svg);
    background-repeat: no-repeat;
    background-size: 10px;
    border-radius: 0;
}
.customArchiveProduct__banner.set_2 .icon-half {
    left: -5px;
    top: -1px;
}
.customArchiveProduct__banner.set_2 .icon-lines {
    top: 20%;
    right: 0;
}
.customArchiveProduct__banner.set_2 .icon-half:before {
    font-size: 90px;
    transform: rotate(180deg);
}
.header__infolabel {
    background-color: #93E4DE;
}
body .custom-rotate .close {
    width: 30px;
    background: #93E4DE;
    text-align: center;
    font-weight: normal;
    font-family: arial;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    color: #000;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translate(0, -50%);
}
.custom-rotate {
    position: relative;
    background-color: #93E4DE;
    text-align: center;
}
p.enddate, p.end {
    margin: 0;
    padding: 3px 0;
    font-weight: 600;
}
.cart-dropdown__wrapper .cart__summary--desc ul li {
    position: relative;
    padding-left: 20px;
}
.cart-dropdown__wrapper .cart__summary--desc ul li svg {
    position: absolute;
    left: 0;
    top: 3px;
}
.end-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}
.woocommerce-variation-price span.sale-price {
    color: #000000;
    font-weight: 700;
    margin-left: 5px;
    font-size: 20px;
}
.woocommerce-variation-price span.new-price{
    text-decoration: line-through;
    font-weight: normal !important;
    text-decoration-thickness: 1px;
}
.woocommerce-variation-price span.new-price span.woocommerce-Price-amount {
    color: rgba(0,0,0,.5);
    font-weight: 500;
    font-size: 17px;
}
.customProductPage__summaryWrapper .woocommerce-Price-amount .woocommerce-Price-currencySymbol {font-size: 17px;}
.woocommerce-variation-price span.sale-price {color: #C81745;}
.cart-dropdown__wrapper .close {
    top: 8px;
    right: 15px;
}
p.carttext {
    background: #CCD8CD;
    padding: 10px 15px 10px 50px;
    margin: 0;
    font-size: 14px;
    position: relative;
}
p.carttext:before {
    content: "";
    border-left: 1px solid #347653;
    border-bottom: 1px solid #347653;
    display: inline-block;
    padding: 2px 5px;
    transform: rotate(-45deg);
    position: absolute;
    left: 26px;
    top: 17px;
}
p.carttext:after {
    content: "";
    width: 23px;
    height: 23px;
    position: absolute;
    left: 20px;
    top: 9px;
    border: 1px solid #347653;
    border-radius: 50%;
}
.cart-dropdown__wrapper .cart-preview {margin-top: 0;}
.modal-container {z-index: 9999999999;}
picture.new-im img {
    max-width: 100px !important;
    margin-bottom: 20px;
}
.video-section .blockBannerHomepage__content {max-height: 500px;}
.trendArticles ul li.splide__slide .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.trendArticles ul li.splide__slide .row span.read-more {margin: 25px 0;}
/*.norotate {display: none;}*/
#measurementsModal.opened .modal-content {display: block !important;}
.lenses_modal h4 {
    margin-top: 0;
    margin-bottom: 15px;
}
.lenses_modal__prescription.opened {padding-top: 0;}
.lenses_modal .close {top: 31px;}
.cart-dropdown__wrapper .cart__summary--coupons span {
    margin-top: 10px;
    display: block;
}
.home_vide_sec {
    position: relative;
    margin-bottom: 40px;
}
.home_vide_sec figure.wp-block-video {margin: 0;}
.home_vide_sec .wp-block-video video{display: block;}
.blockBannerHomepage {margin-top: 0;}
.banner_content {
    position: absolute;
    bottom: 50px;
    left: 60px;
    padding: 60px;
    width: 500px;
    background-repeat: no-repeat;
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    background: rgb(200 200 200 / 40%);
    border-radius: 5px;
}
.banner_content:before {
    content: "";
    background: url(https://muunel.ro/wp-content/uploads/2021/10/Intersect.svg) no-repeat;
    position: absolute;
    width: 120px;
    height: 120px;
    right: -50px;
    top: -29px;
}
.banner_content h2 {
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}
.banner_content p {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    text-shadow: 0 0px 20px rgb(0 0 0 / 15%);
}
.banner_content a {
    color: #fff;
    margin-top: 10px;
    display: inline-block;
    border: 1px solid #fff;
    padding: 13px 25px;
    font-size: 15px;
}
.banner_content a:hover {
    background: #41446f;
    border-color: #41446f;
}
.blockBannerHomepage__content {min-height: 600px;}
.icon-arrow {
    width: 50px;
    height: 60px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    background: url(/wp-content/uploads/2021/10/down_arrow.svg);
    -webkit-filter: invert(100%);
    filter: invert(100%);
    animation: animatedButton 1.5s linear infinite;
    will-change: opacity, transform;
    transition: all ease 0.3s;
    cursor: pointer;
    z-index: 2;
}
@keyframes animatedButton {
    from {
        transform: translate3d(-50%, -25px, 0);
        opacity: 1;
    }
    to {
        transform: translate3d(-50%, 0, 0);
        opacity: .3;
    }
}
.customArchiveProduct__loopWrapper--item .variable_buttons .variable_button {margin: 2px 4px;}
.customArchiveProduct__loopWrapper--item .variable_buttons .variable_button.active span:before, 
.customArchiveProduct__loopWrapper--item .variable_buttons .variable_button:hover span:before {
    height: 25px;
    width: 25px;
}
.single-product p {font-size: 14px;}
.mainCarousel .splide .splide__pagination {bottom: -35px;}
span.price span.sale-price1 {
    color: #C81745;
    font-weight: normal;
    font-size: 14px;
    margin-left: 4px;
}
span.price span.sale-price1:before {
    content: "(";
}
span.price span.sale-price1:after {
    content: ")";
}
span.badge {
    position: absolute;
    right: 70px;
    z-index: 1;
    background: #fff;
    padding: 10px;
    color: #c81745;
    top: 10px;
    font-weight: 500;
}
.woocommerce-variation-price span.new-price.custom-reg {
    text-decoration: none;
    font-weight: 600 !important;
    color: black;
}
.cart-dropdown__wrapper .cart-preview__products {
    width: 100%;
}
.cart-dropdown__wrapper .cart-preview {
    margin: 15px;
}
#mini-cart .product-remove .ajax_close {
    top: 0;
    right: 0;
    font-size: 0;
    position: static;
    font-weight: normal;
    float: none;
    width: 20px;
    height: 22px;
    background-size: 21px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(https://muunel.ro/wp-content/uploads/2021/10/delete_icon.svg);
    display: block;
    text-align: center;
    line-height: 1;
    border-radius: 100%;
    border: none;
}
#mini-cart .product-remove .ajax_close:hover{
    opacity: .6;
}
#mini-cart .product-remove {
    position: absolute;
    right: 0;
}
.cart-preview__products--single {
    padding-right: 20px;
    position: relative;
    width: 100%;
    overflow: visible;
}
.product-remove a.remove:hover {
    background: none;
}
/*div#measurementsModal .measurementsModal__staticInfoBlock {
    display: none;
}*/
.home .pageWrapper {
    padding: 0;
}
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item) {
    margin: 4px 12px 4px 0;
}
.kit_save img {
    display: none;
}
.lenses_modal__main--buttons__item>label .lenses_description {
    text-align: left;
}
.modal-container.opened .modal-content {
    display: block !important;
}
.customProductPage__gallery .productCustomGallery .splideProductCard .splide__pagination li [aria-controls="primary-slider-slide08"].is-active, 
#lightbox-gallery-modal ul.splide__pagination li [aria-controls="lightboxGalleryContent-slide08"].is-active {
    filter: invert(1);
}
.header__content--shopButtons .shopButton--count {
    background-color: #00c3d7;
}
/*.term-femei.woocommerce ul.products li:nth-child(5n+2) {
    display: none;
}*/

.archive.woocommerce ul.products li{
    text-align: center;
}
.archive.woocommerce ul.products li picture, .archive.woocommerce ul.products li picture img {
    width: 100%;
}
.archive.woocommerce ul.products li picture img {
    margin-bottom: 15px;
}
.archive.woocommerce ul.products li.product, .archive.woocommerce-page ul.products li.product {
    margin: 0;
    text-align: center;
    padding: 20px;
    border: 1px solid #e9e9e9;
    width: calc(33.33% - 13.5px);
}
.archive.woocommerce ul.products li.product:hover, .archive.woocommerce-page ul.products li.product:hover{
    border-color: #F0C75F;
}
.archive.woocommerce ul.products .counter_cat, .archive.woocommerce-page ul.products .counter_cat {
    width: calc(66.67% - 7px);
    padding: 0;
    border: none;
    position: relative;
}
ul.products .counter_cat img {
    width: 100%;
    display: block;
}
ul.products .counter_cat video {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.archive.woocommerce ul.products:before, .archive.woocommerce ul.products:after{
    display: none;
}
.archive.woocommerce ul.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 70px;
}
.archive.woocommerce ul.products li.product a {
    text-decoration: none;
    font-size: 24px;
}
.archive.woocommerce ul.products li.product span.price {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-top: 10px;
}



.checkout-timeline .checkout-timeline-wrapper .step .title-box .circle {
    background: #99b09b !important;
    border: 3px solid white;
}
.lenses_modal__main--buttons__item:hover {
    border-color: #000;
}
.wc-newsletter-subscription-checkout-fields, p#subscribe_to_newsletter_field {
    display: none;
}
ul.woocommerce-error li {
    font-weight: 500;
    color: #000;
}
.woocommerce-error::before {
    color: #C81745;
}
.woocommerce-error {
    border-top-color: #c81745;
}
.heateor_sl_outer_login_container {
    margin-bottom: 20px;
}
.customArchiveProduct__loopWrapper {
    display: none;
}

.category-right {
    background-color: #F0C75F;
    width: 33.33%;
    padding: 25px 25px 200px;
    background-image: url(/wp-content/uploads/2021/10/left_cus_icon.svg), url(/wp-content/uploads/2021/10/right_cus_icon.svg);
    background-repeat: no-repeat;
    background-position: 25px 74%, right bottom;
}
.category-banner {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.category-left {
    width: 66.67%;
    position: relative;
    padding-top: 37%;
}
.category-left img {
    width: 100%;
    display: block;
}
.category-left video {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.category-right h3.cat-title,.category-right h2, .category-right h1{
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 12px;
    text-transform: capitalize;
    font-weight: 500;
}
span.cat-desc {
    font-size: 16px;
    line-height: 1.5;
}
.faq_full_width__small_content__descbox {
    word-break: break-word;
}
body>.alignfull {
    display: flex;
    flex-direction: column;
}
.breadcrumb-box {
    order: 1;
	    margin-bottom: 20px;
    margin-top: 10px;
}
.category-banner {
    order: 2;
}
.pageWrapper {
    order: 3;
}
.archive.woocommerce ul.products picture.card_image_hover {
    display: none;
}
.archive.woocommerce ul.products picture.card_image_hover img{
    margin: 0 0 15px;
}
.archive.woocommerce ul.products li:hover picture {
    display: none;
}
.archive.woocommerce ul.products li:hover picture.card_image_hover {
    display: block;
}
.archive.woocommerce ul.products li.product 
 a.button.add_to_cart_button {
    font-size: 14px !important;
    line-height: 1.5 !important;
    font-weight: 500 !important;
}
div#freshworks-container{
    display: none;
}
.archive.woocommerce ul.products li span.price {
    display: flex;
    align-items: center;
    justify-content: center;
}
.archive.woocommerce ul.products li.product span.add_to_cart a {
    font-size: 16px;
    color: #000 !important;
    display: flex;
    align-items: center;
}
.archive.woocommerce ul.products li.product span.add_to_cart {
    padding-left: 0;
    border-left: 1px solid #ccc;
    margin-left: 0;
    margin-bottom: 0;
    transition: all .3s;
    width: 0;
    white-space: nowrap;
    visibility: hidden;
    overflow: hidden;
}
.archive.woocommerce ul.products li.product:hover span.add_to_cart {
    padding-left: 12px;
    margin-left: 12px;
    width: 155px;
    visibility: visible;
}
.archive.woocommerce ul.products li.product span.add_to_cart p {
    margin: 0;
}
.archive.woocommerce ul.products li.product span.add_to_cart a svg {
    margin-right: 6px;
    position: relative;
    top: -2px;
}
span.new-price {
    text-decoration: line-through;
    color: #999;
    margin-right: 5px;
}
li.product span.badge {
    right: 20px;
    top: 20px;
}
.timeline-content form fieldset #ship-to-different-address-checkbox:checked:before {
    border-left-color: transparent ;
    border-bottom-color: transparent ;
}
.timeline-content form fieldset #ship-to-different-address-checkbox:before {
    top: 40%;
    -webkit-transform: translate(-50%,-50%) rotate(-45deg);
    transform: translate(-50%,-50%) rotate(-45deg);
    width: 12px;
    height: 7px;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
}





